/*=============== GOOGLE FONTS ==============*/

@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

@font-face {
  font-family: "Substitute";
  src: url("../fonts/substitute.ttf") format("truetype");
}

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3rem;

  /*========== Colors ==========*/
  --hue: 174;
  --sat: 63%;
  --first-color: #e746b0;
  --lite-color: rgba(255, 255, 255, 0.25);
  --first-color-alt: hsl(var(--hue), var(--sat), 36%);
  --title-color: #fff;
  --lite-body: rgba(120, 2, 100, 0.198);
  --text-color: rgb(0, 0, 0);
  --body-color: rgba(30, 2, 33, 0.919);
  --container-color: rgb(34, 0, 49);
  --primary-color: #000;
  --secondary-color: #fff;

  /*========== Font and typography ==========*/
  --body-font: 'Substitute', monospace;
  --h1-font-size: 1.5rem;
  --normal-font-size: .938rem;
  --tiny-font-size: .625rem;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

@media screen and (min-width: 968px) {
  :root {
    --h1-font-size: 2.25rem;
    --normal-font-size: 1rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: var(--body-font);
}

html {
  scroll-behavior: smooth;
  transition: all 0.5s ease-in;
}

html.dark {
  --primary-color: #fff;
  --secondary-color: rgb(0, 0, 0);
}

html.dark {
  background-color: #0c0736;
  color: var(--primary-color);
}

body {
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--lite-body);
  color: var(--text-color);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

/* img {
  max-width: 100%;
  height: auto;
} */

/*=============== REUSABLE CSS CLASSES ===============*/
.section {
  padding: 4.5rem 0 2rem;
}

.section__title {
  font-size: var(--h1-font-size);
  color: var(--primary-color);
  text-align: center;
  margin-bottom: 1.5rem;
}

.section__height {
  height: 100vh;
}

/*=============== LAYOUT ===============*/
.container {
  max-width: 968px;
  margin-left: 1rem;
  margin-right: 1rem;
}

/*=============== HEADER ===============*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--lite-color);
  z-index: var(--z-fixed);
  transition: .4s;
  border-radius: 0 0 25px 25px;
  box-shadow: 0 8px 32px 0 rgba(32, 32, 35, 13%);
}

/*=============== NAV ===============*/
.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__img {
  width: 32px;
  border-radius: 50%;
}

.nav__logo {
  color: var(--title-color);
  font-weight: 600;
  font-size: 25px;
  text-transform: uppercase;
  letter-spacing: 10px;
}

@media screen and (max-width: 767px) {
  .nav__menu {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: var(--lite-color);
    backdrop-filter: blur(15px);
    box-shadow: 0 -1px 12px hsla(var(--hue), var(--sat), 15%, 0.15);
    width: 100%;
    height: 4rem;
    padding: 0 1rem;
    display: grid;
    align-content: center;
    border-radius: 1.25rem 1.25rem 0 0;
    transition: .4s;
  }
}

.nav__list,
.nav__link {
  display: flex;
}

.nav__link {
  flex-direction: column;
  align-items: center;
  row-gap: 4px;
  color: var(--title-color);
  font-weight: 600;
}

.nav__list {
  justify-content: space-around;
}

.nav__name {
  font-size: var(--tiny-font-size);
  color: var(--primary-color);
  /* display: none;*/
  /* Minimalist design, hidden labels */
}

.nav__icon {
  font-size: 1.5rem;
  color: var(--primary-color);
}

/*Active link*/
.active-link {
  position: relative;
  color: var(--first-color);
  transition: .3s;
}

/* Minimalist design, active link */
.active-link::before {
  content: '';
  position: absolute;
  bottom: -.5rem;
  width: 4px;
  height: 4px;
  background-color: var(--first-color);
  border-radius: 50%;
}

/* Change background header */
.scroll-header {
  box-shadow: 0 1px 12px hsla(var(--hue), var(--sat), 15%, 0.15);
}

/*=============== MEDIA QUERIES ===============*/
/* For small devices */
/* Remove if you choose, the minimalist design */
@media screen and (max-width: 320px) {
  .nav__name {
    display: none;
  }
}

/* For medium devices */
@media screen and (min-width: 576px) {
  .nav__list {
    justify-content: center;
    column-gap: 3rem;
  }
}

@media screen and (min-width: 767px) {
  body {
    margin: 0;
  }

  .section {
    padding: 7rem 0 2rem;
  }

  .nav {
    height: calc(var(--header-height) + 1.5rem);
    /* 4.5rem */
  }

  .nav__img {
    display: none;
  }

  .nav__icon {
    display: none;
  }

  .nav__name {
    font-size: var(--normal-font-size);
    /* display: block; */
    /* Minimalist design, visible labels */
  }

  .nav__link:hover {
    color: var(--first-color);
  }

  /* First design, remove if you choose the minimalist design */
  .active-link::before {
    content: '';
    position: absolute;
    bottom: -.75rem;
    width: 4px;
    height: 4px;
    background-color: var(--first-color);
    border-radius: 50%;
  }


  /* Minimalist design */
  /* .active-link::before{
      bottom: -.75rem;
  } */
}

/* For large devices */
@media screen and (min-width: 1024px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }
}

#progress {
  position: fixed;
  bottom: 70px;
  right: 25px;
  height: 50px;
  width: 50px;
  display: none;
  place-items: center;
  border-radius: 20%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

#progress-value {
  display: block;
  height: calc(100% - 10px);
  width: calc(100% - 10px);
  background-color: var(--lite-color);
  border-radius: 20%;
  display: grid;
  place-items: center;
  font-size: 35px;
  color: #ffffff;
}

/* Scroll Bar color */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgb(255, 255, 255);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {

  background: rgba(30, 2, 33, 0.919);
}

/* for landing page */
.landing {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 1vh;
  background-color: rgba(255, 255, 255, 0.132);
  box-shadow: -4px -3px 45px 21px rgba(97, 97, 97, 13%);
  border-radius: 20px;
  margin-left: 2vw;
  margin-right: 2vw;
  height: 77vh;
  z-index: +1;
}

.inf {
  font-size: 55px;
  color: var(--primary-color);
  font-weight: 700;
}

.heading {
  font-size: 35px;
  color: var(--primary-color);
}

.landing-img {
  margin-top: 3%;
  margin-left: 3%;
  height: 70vh;
  z-index: +1;
}

.frame1 {
  width: 40%;
}

.para-section {
  color: var(--primary-color);
  font-size: 19px;
  font-weight: bolder;
  margin-top: 45px;
}

.bt1 {
  width: 30vh;
  margin-top: 6%;
  color: wheat;
  height: 5vh;
  border-radius: 15px;
  background-color: rgb(190, 15, 167);
  border: coral;
  font-weight: bold;
}

.bt1:hover {
  background-color: rgba(174, 130, 115, 0);
  color: bisque;
  border: 2px solid rgb(190, 15, 167);
}

.eff {
  height: 50vh;
  width: 50vh;
  z-index: -1;
  background: linear-gradient(#c370d4, #83bcfc);
  position: absolute;
  border-radius: 600px;
  filter: blur(65px);
}

.eff1 {
  height: 70vh;
  width: 70vh;
  z-index: -1;
  background: linear-gradient(rgb(187, 68, 194), rgb(238, 66, 23));
  position: absolute;
  border-radius: 600px;
  filter: blur(75px);
  margin-left: 25vh;
  margin-top: 20vw;
}

/* designing of landing page ends */
/* responsiveness of the landing page below */
@media screen and (max-width: 1490px) {
  .landing {
    justify-content: center;
  }

  .landing-img {
    height: 35vh;
  }

  .frame1 {
    width: 40%;
    margin-left: 3vw;
  }

  .heading {
    font-size: 25px;
  }

  .inf {
    font-size: 40px;
  }

  .para-section {
    font-size: 15px;
  }

  .eff {
    height: 40vh;
    width: 40vh;
  }

  .eff1 {
    height: 50vh;
    width: 50vh;
    margin-left: 10vh;
    margin-top: 20vw;
  }
}

@media screen and (max-width: 1144px) {
  .eff {
    height: 30vh;
    width: 30vh;
  }

  .eff1 {
    height: 40vh;
    width: 40vh;
    margin-left: 5vh;
    margin-top: 15vw;
  }

  .inf {
    font-size: 30px;
  }
}

@media screen and (max-width: 980px) {
  .landing-img {
    height: 30vh;
  }

  .frame1 {
    width: 50%;
    margin-left: 3vw;
  }

  .heading {
    font-size: 20px;
  }

  .inf {
    font-size: 30px;
  }

  .para-section {
    font-size: 13px;
  }

  .bt1 {
    width: 20vh;
    height: 4vh;
  }

  .eff {
    height: 25vh;
    width: 25vh;
  }

  .eff1 {
    height: 35vh;
    width: 35vh;
    margin-left: 5vh;
    margin-top: 15vw;
  }
}

@media screen and (max-width: 780px) {
  .landing {
    display: list-item;
  }

  .landing-img {
    height: -webkit-fill-available;
    width: -webkit-fill-available;
    opacity: 90%;
  }

  .frame1 {
    width: 90%;
    width: 90%;
    position: absolute;
    bottom: 0;
    z-index: 1;
    text-align: center;
  }

  .landing {
    margin-top: -25px;
    padding-top: 4vh;
    height: -webkit-fill-available;
  }
}

@media screen and (max-width: 480px) {
  .heading {
    font-size: 20px;
  }

  .inf {
    font-size: 30px;
  }

  .para-section {
    font-size: 13px;
    margin-top: 40px;
  }

  .landing-img {
    height: -webkit-fill-available;
    width: -webkit-fill-available;
    margin-top: 5vh;

  }

  .bt1 {
    margin-top: 5vh;
  }

  .landing {
    margin-top: -45px;
    padding-top: 4vh;
    height: -webkit-fill-available;
  }

  .eff {
    height: 20vh;
    width: 20vh;
  }

  .eff1 {
    height: 30vh;
    width: 30vh;
    margin-left: 5vh;
    margin-top: 10vw;
  }
}

/* Fill button styling */
.fill {
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1px;
  padding: 13px 35px 13px;
  margin-top: 20px;
  outline: 0;
  color: var(--primary-color);
  border-radius: 5%;
  border: 2px solid var(--primary-color);
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
}

.fill::after {
  content: "";
  background-color: #dcbaff;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  border-radius: 5%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

.fill:hover::after {
  top: 0px;
  left: 0px;
}

/* End of Fill Button  */
/* <------------our skills section -----------------> */
.box111,
.box112,
.box113 {
  background-color: rgba(255, 255, 255, 0.125);
  border-radius: 15px;
  width: 25vw;
  margin: 2px;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.box112 {
  margin-left: 90px;
  margin-right: 90px;
}

.skills-1st {
  color: var(--primary-color);
  text-align: center;
  font-size: 35px;
  margin-bottom: 50px;
}

.skills-head {
  color: rgb(215, 64, 220);
  font-size: 35px;
  margin-top: 10px;
  margin-bottom: 30px;
}

.skills-para {
  color: var(--primary-color);
  font-size: 18px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 30px;
}

.box111:hover {
  background-color: rgba(255, 255, 255, 0.211);
}

.box112:hover {
  background-color: rgba(255, 255, 255, 0.211);
}

.box113:hover {
  background-color: rgba(255, 255, 255, 0.211);
}

.image1 {
  height: 60px;
  margin-top: 35px;
}

.image2 {
  height: 70px;
  margin-top: 35px;
}

.image3 {
  height: 60px;
  margin-top: 35px;
}

.box110 {
  display: flex;
}

.skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: -130px;
}

/* responsiveness of skills section */
@media screen and (max-width: 1200px) {

  .box111,
  .box112,
  .box113 {
    width: 28vw;
  }

  .box112 {
    margin-left: 55px;
    margin-right: 55px;
  }

  .skills-para {
    font-size: 16px;
  }

  .skills-head {
    font-size: 25px;
  }
}

@media screen and (max-width: 900px) {
  .box110 {
    flex-direction: column;
  }

  .box112 {
    margin-left: 0px;
    margin-right: 0px;
  }

  .box111,
  .box112,
  .box113 {
    width: 70vw;
  }

  .skills-para {
    font-size: 20px;
  }
}

@media screen and (max-width: 480px) {

  .box111,
  .box112,
  .box113 {
    width: 90vw;
  }

  .skills-para {
    font-size: 19px;
  }
}

@media screen and (max-width: 310px) {

  .box111,
  .box112,
  .box113 {
    width: 90vw;
  }

  .skills-para {
    font-size: 15px;
  }
}

@media screen and (max-width: 980px) {
  .skills {
    margin-top: 8vh;

  }
}

@media screen and (max-width: 700px) {
  .skills {
    margin-top: 15vh;

  }
}

@media screen and (max-width: 580px) {
  .skills {
    margin-top: 25vh;

  }
}

@media screen and (max-width: 480px) {
  .skills {
    margin-top: 35vh;

  }
}

@media screen and (max-width: 400px) {
  .skills {
    margin-top: 43vh;

  }
}

@media screen and (max-width: 310px) {
  .skills {
    margin-top: 70vh;

  }
}

/* <------------end of our skills section -----------------> */
/*<---------------- our project// portfolio section starts here------------------> */
.portfolio-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  margin-top: -210px;
}

.portbox-section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 17px;
  width: 75%;
  margin-bottom: 50vh;
}

.box101 {
  height: 220px;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-top: 120px;
  margin-left: 8px;
  border-radius: 10px;
  border: 1px solid rgba(128, 128, 128, 0.639);
  background-color: rgba(255, 255, 255, 0.135);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.img-port {
  height: 130px;
  width: 130px;
  border-radius: 1200px;
  margin-top: -120px;
  margin-bottom: 37px;
  z-index: 1;
}

.eff-port {
  height: 100px;
  width: 100px;
  background-color: rgb(255, 117, 209);
  position: absolute;
  z-index: -1;
  margin-top: -20vh;
  filter: blur(60px);

}

.text-sec1 {
  height: 65%;
  font-size: 14px;
  color: whitesmoke;
  margin-bottom: -104px;
  z-index: 1;

}

.text-sec1 p {
  color: var(--primary-color);
}

.h-po {
  color: rgb(248, 114, 230);
  margin-bottom: 8px;
}

.p-sec {
  margin-left: 5px;
  margin-right: 5px;
  color: var(--primary-color);
}

.port-head {
  font-size: 37px;
  color: var(--primary-color);
}

/* responsiveness section */
@media screen and (max-width:1300px) {
  .portbox-section {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width:920px) {
  .text-sec1 {
    height: 65%;
    font-size: 13px;
    color: whitesmoke;
  }
}

@media screen and (max-width:700px) {
  .text-sec1 {
    height: 65%;
    font-size: 12px;
    color: whitesmoke;
  }

  .img-port {
    height: 100px;
    width: 100px;
  }
}

@media screen and (max-width:600px) {
  .portbox-section {
    grid-template-columns: 1fr;
  }

  .text-sec1 {
    font-size: 14px;
  }

  .img-port {
    height: 110px;
    width: 110px;
  }

  .box101 {
    margin-top: 80px;
  }
}

@media screen and (max-width:450px) {
  .text-sec1 {
    font-size: 13px;
  }

  .img-port {
    height: 110px;
    width: 110px;
  }
}

@media screen and (max-width:340px) {
  .text-sec1 {
    font-size: 12px;
  }

  .img-port {
    height: 100px;
    width: 100px;
  }

  .h-po {
    font-size: 18px;
  }
}

@media screen and (max-width:230px) {
  .text-sec1 {
    font-size: 10px;
  }

  .img-port {
    height: 80px;
    width: 80px;
  }

  .h-po {
    font-size: 18px;
  }
}

@media screen and (max-width:1000px) {
  .portfolio-section {
    margin-top: -200px;
  }
}

@media screen and (max-width:983px) {
  .portfolio-section {
    margin-top: -5px;
  }
}

@media screen and (max-width:905px) {
  .portfolio-section {
    margin-top: 670px;
  }
}

@media screen and (max-width:705px) {
  .portfolio-section {
    margin-top: 800px;
  }
}

@media screen and (max-width:585px) {
  .portfolio-section {
    margin-top: 970px;
  }
}

@media screen and (max-width:435px) {
  .portfolio-section {
    margin-top: 1070px;
  }
}

@media screen and (max-width:350px) {
  .portfolio-section {
    margin-top: 1170px;
  }

  .port-head {
    font-size: 30px;
  }
}

@media screen and (max-width:260px) {
  .portfolio-section {
    margin-top: 1200px;
  }

  .port-head {
    font-size: 28px;
  }
}

/*<----------------end of our project// portfolio section ------------------> */
/*<---------------- Contact Us section starts here------------------> */
.card007 {
  margin-top: 65px;
}

.box007 {
  width: 85vw;
  height: 586px;
  display: flex;
  justify-content: space-around;

  background: #ffffff2a;
  border-radius: 50px;
}

.img007 {
  width: auto;
  height: 80vh;
}

.r007-sec {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--primary-color);
  width: 80%;
  text-align: center;
}

.r007-sec input {
  margin: 8px;
  padding: 12px;
  border-radius: 5px;
  width: 300px;
  border: 1px solid;
}

.btn007 {
  display: inline-block;
  text-align: center;
  padding: 10px 10px 10px;
  margin: 8px;
  height: 45px;
  width: 310px;
  border: none;
  margin-top: 20px;
  cursor: pointer;
  background-color: rgb(201, 95, 175);
  color: white;
  border-radius: 5px;
  transition: 0.5s;
}

.btn007:hover {
  background-color: rgb(175, 40, 130);
  color: burlywood;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.msg007 {
  height: 120px;
  width: 210px;
}

.r007-sec h1 {
  margin-bottom: 30px;
}

.icon1 {
  height: 50px;
  width: 50px;
  margin-right: 20px;
  transition: 0.3s linear;
}

.icon1:hover {
  box-shadow: 0 15px 19px 0 rgba(0, 0, 0, 0.24), 0 20px 53px 0 rgba(0, 0, 0, 0.19);
  transform: scale(1.2);
}

.icon2 {
  height: 50px;
  width: 50px;
  margin-right: 20px;
  transition: 0.3s linear;
}

.icon2:hover {
  box-shadow: 0 15px 19px 0 rgba(0, 0, 0, 0.24), 0 20px 53px 0 rgba(0, 0, 0, 0.19);
  transform: scale(1.2);
}

.icon3 {
  height: 53px;
  width: 53px;
  margin-right: 20px;
  transition: 0.3s linear;
}

.icon3:hover {
  box-shadow: 0 15px 19px 0 rgba(0, 0, 0, 0.24), 0 20px 53px 0 rgba(0, 0, 0, 0.19);
  transform: scale(1.2);
}

.icon4 {
  height: 50px;
  width: 50px;
  transition: 0.3s linear;
}

.icon4:hover {
  box-shadow: 0 15px 19px 0 rgba(0, 0, 0, 0.24), 0 20px 53px 0 rgba(0, 0, 0, 0.19);
  transform: scale(1.2);
}

.b-sec {
  display: flex;
  position: absolute;
  margin-top: 575px;
}

.contact-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -100px;
}

@media screen and (max-width: 1200px) {
  .img007 {
    height: 80vh;
    width: 40vw;
  }

  .r007-sec input {
    width: 250px;
  }

  .btn007 {
    width: 260px;
  }

  .icon1,
  .icon2,
  .icon4 {
    height: 40px;
    width: 40px;
  }

  .icon3 {
    height: 43px;
    width: 43px;
  }
}

@media screen and (max-width: 800px) {
  .img007 {
    height: 60vh;
    width: 37vw;
    margin-top: 90px;
  }

  .r007-sec input {
    width: 220px;
  }

  .btn007 {
    width: 230px;
  }

  .icon1,
  .icon2,
  .icon4 {
    height: 35px;
    width: 35px;
  }

  .icon3 {
    height: 37px;
    width: 37px;
  }

  .r007-sec h1 {
    font-size: 27px;
  }
}

@media screen and (max-width: 650px) {
  .img007 {
    display: none;
  }

  .r007-sec input {
    width: 310px;
  }

  .btn007 {
    width: 320px;
  }

  .icon1,
  .icon2,
  .icon4 {
    height: 40px;
    width: 40px;
  }

  .icon3 {
    height: 42px;
    width: 42px;
  }

  .r007-sec h1 {
    font-size: 32px;
  }
}

@media screen and (max-width: 480px) {
  .r007-sec h1 {
    font-size: 25px;
  }

  .r007-sec input {
    width: 250px;
  }

  .btn007 {
    width: 260px;
  }

  .icon1,
  .icon2,
  .icon4 {
    height: 35px;
    width: 35px;
  }

  .icon3 {
    height: 37px;
    width: 37px;
  }
}

@media screen and (max-width: 380px) {
  .r007-sec h1 {
    font-size: 20px;
  }

  .r007-sec input {
    width: 200px;
  }

  .btn007 {
    width: 210px;
  }

  .icon1,
  .icon2,
  .icon4 {
    height: 30px;
    width: 30px;
  }

  .icon3 {
    height: 32px;
    width: 32px;
  }
}

@media screen and (max-width: 300px) {
  .r007-sec h1 {
    font-size: 15px;
  }

  .r007-sec input {
    width: 160px;
  }

  .btn007 {
    width: 170px;
  }

  .icon1,
  .icon2,
  .icon4 {
    height: 25px;
    width: 25px;
  }

  .icon3 {
    height: 27px;
    width: 27px;
  }
}

@media screen and (max-width: 1301px) {
  .contact-section {
    margin-top: 260px;
    padding-bottom: 100px;
  }
}

@media screen and (max-width: 985px) {
  .contact-section {
    margin-top: 440px;
    padding-bottom: 50px;
  }
}

@media screen and (max-width: 905px) {
  .contact-section {
    margin-top: 1100px;
    padding-bottom: 50px;
  }
}

@media screen and (max-width: 770px) {
  .contact-section {
    margin-top: 1100px;
    padding-bottom: 100px;
  }

}

@media screen and (max-width: 712px) {
  .contact-section {
    margin-top: 1200px;
    padding-bottom: 100px;
  }

}

@media screen and (max-width: 610px) {
  .contact-section {
    margin-top: 2100px;
    padding-bottom: 100px;
  }

}

@media screen and (max-width: 585px) {
  .contact-section {
    margin-top: 2200px;
    padding-bottom: 100px;
  }

}

@media screen and (max-width: 435px) {
  .contact-section {
    margin-top: 2300px;
    padding-bottom: 100px;
  }

}

@media screen and (max-width: 350px) {
  .contact-section {
    margin-top: 2350px;
    padding-bottom: 100px;
  }

}